<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="header__wrap">
        <div class="header__logo">
            <span>paint box</span>
        </div>
        <div class="header__toggle">
            <div class="header__toggle_menu-wrap hidden">
                <div class="header__toggle_close">
                    <span>X</span>
                </div>
                <div class="header__toggle_menu">
                    <ul>
                        <li class="header__toggle_menu__content">
                            <div class="header__toggle_menu__content__div">
                                <span class="header__toggle_menu-title">Nail Studio</span>
                                <ul class="hidden">
                                    <li><a>Book a Manicure</a></li>
                                    <li><a>Our Location</a></li>
                                    <li><a>Our Lookbook</a></li>
                                    <li><a>Private Events</a></li>
                                    <li><a>Gift Card</a></li>
                                </ul>
                            </div>
                            <div class="header__toggle__more close">+</div>
                        </li>
                        <li class="header__toggle_menu__content">
                            <div class="header__toggle_menu__content__div">
                                <span class="header__toggle_menu-title">Shop product</span>
                                <ul class="hidden">
                                    <li><a>Shop Nail Care</a></li>
                                    <li><a>Shop PowerCouples</a></li>
                                    <li><a>Shop Singles</a></li>
                                    <li><a>Shop All</a></li>
                                    <li><a>My Account</a></li>
                                </ul>
                            </div>
                            <div class="header__toggle__more close">+</div>
                        </li>
                        <li>
                            <span class="header__toggle_menu-title"><a>Journal</a></span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <nav>
            <ul class="header__nav header__nav_left">
                <div class="header__toggle_btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <li id="nav-nail-studio">
                    <button>Nail Studio</button>
                    <div id="nav-nail-studio-sub" class="header__nav__submenu-warp hidden">
                        <ul class="header__nav_submenu">
                            <li><a>Book a Manicure</a></li>
                            <li><a>Our Location</a></li>
                            <li><a>Our Lookbook</a></li>
                            <li><a>Private Events</a></li>
                            <li><a>Gift Card</a></li>
                        </ul>
                    </div>
                </li>
                <li id="nav-shop-product">
                    <button>Shop Product</button>
                    <div id="nav-shop-product-sub" class="header__nav__submenu-warp hidden">
                        <ul class="header__nav_submenu">
                            <li><a>Shop Nail Care</a></li>
                            <li><a>Shop PowerCouples</a></li>
                            <li><a>Shop Singles</a></li>
                            <li><a>Shop All</a></li>
                            <li><a>My Account</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="header__nav header__nav__right">
                <li><a>Journal</a></li>
                <li>
                    <img src="/images/icons/shopping_bag_icon.svg">
                </li>
                <li>0</li>
            </ul>
        </nav>
    </div>
</header>
<main class="main">
    <div class="main__wrap">
        <section class="main__wrap-box-1 photo-text-laylout">
            <div>
                <img src="/images/main_1.jpg" alt="nail art">
            </div>
            <div>
                <div>
                    <h2>Start the new year off right with a fresh mani.Discover our Fall-Winter LookBook
                    </h2>
                    <div class="move_btn">
                        <span>Book Now</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="main__wrap-box-2">
            <div class="main__sub-title">
                <span>The shop</span>
                <h1>Our Newest Polish colors</h1>
            </div>
            <div class="main__products-list">
                <div class="main__product">
                    <div class="main__product-thumbnail">
                        <img src="/images/main_2.jpg">
                    </div>
                    <div class="main__product-info">
                        <div>
                            <span>Nali lacqure</span>
                            <span>|</span>
                            <span class="new">New!</span>
                        </div>
                        <span class="main__product-name">Like Satin</span>
                        <span class="main__product-price">$22.00</span>
                    </div>
                    <div class="main__product-btn">
                        <span>Add to cart</span>
                    </div>
                </div>
                <div class="main__product">
                    <div class="main__product-thumbnail">
                        <img src="/images/main_2.jpg">
                    </div>
                    <div class="main__product-info">
                        <div>
                            <span>Nali lacqure</span>
                            <span>|</span>
                            <span class="new">New!</span>
                        </div>
                        <span class="main__product-name">Like Satin</span>
                        <span class="main__product-price">$22.00</span>
                    </div>
                    <div class="main__product-btn">
                        <span>Add to cart</span>
                    </div>
                </div>
                <div class="main__product">
                    <div class="main__product-thumbnail">
                        <img src="/images/main_2.jpg">
                    </div>
                    <div class="main__product-info">
                        <div>
                            <span>Nali lacqure</span>
                            <span>|</span>
                            <span class="new">New!</span>
                        </div>
                        <span class="main__product-name">Like Satin</span>
                        <span class="main__product-price">$22.00</span>
                    </div>
                    <div class="main__product-btn">
                        <span>Add to cart</span>
                    </div>
                </div>

            </div>
        </section>
        <section class="main__wrap-box-3 photo-text-laylout">
            <div>
                <img src="/images/main_3.jpg" alt="nail art">
            </div>
            <div>
                <div>
                    <h2>Give the gift if the Paintbox experience for a manicure that tells a story
                    </h2>
                    <div class="move_btn">
                        <span>Buy a Gift card</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="gap"></div>
        <section class="main__wrap-box-4">
            <div class="main__story">
                <div class="main__story-img"><img src="/images/main_4.jpg"></div>
                <div class="main__story-text">
                    <span>Dec 14, 2002</span>
                    <h1>Nails of New York: Morgan Thomas</h1>
                    <span>Read Story -></span>
                </div>
                <div class="main__story-text">
                    <span>Dec 8, 2002</span>
                    <h1>New and Now: Holiday'22 Like Satin</h1>
                    <span>Read Story -></span>
                </div>
                <div class="main__story-img"><img src="/images/main_5.jpg"></div>
                <div class="main__story-img"><img src="/images/main_6.jpg"></div>
                <div class="main__story-text">
                    <span>Nov 12, 2002</span>
                    <h1>NEW: Holiday Pop-Up Shop on Madison Ave</h1>
                    <span>Read Story -></span>
                </div>
            </div>
        </section>
        <div class="gap"></div>
        <section class="main__wrap-box-5">
            <div class="main__sub-title">
                <span>Join Our Conversation</span>
                <h1>Be the first to hear abot new product launches and enjoy 20% off your first polish order.</h1>
            </div>
            <div>
                <input id="main-contact" placeholder="Enter Your Email" type="email">
                <button type="submit">
                    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9Ikljb25zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAzMjsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDAwMDA7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KCS5zdDF7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTI2LjQsMi45TDMuOCwxNWMtMC43LDAuNC0wLjcsMS41LDAuMSwxLjhsMjAuOCw4LjdjMC42LDAuMywxLjMtMC4yLDEuNC0wLjhsMS43LTIwLjggIEMyNy45LDMsMjcuMSwyLjUsMjYuNCwyLjl6Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTI2LDRMMTMsMjB2Ny4zYzAsMC45LDEuMiwxLjQsMS44LDAuN0wxOSwyMyIvPjwvc3ZnPg==">
                </button>
            </div>
        </section>
        <div class="gap"></div>
        <section class="main__wrap-box-6 photo-text-laylout">
            <div>
                <img src="/images/main_7.jpg" alt="instagram main page">
            </div>
            <div>
                <div>
                    <h2>Follow us on Instagram and get inspired by our tutorials to make the most of your Power Couples.
                    </h2>
                    <div class="move_btn">
                        <span>Instagram</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="gap"></div>
        <section class="main__wrap-box-6">
            <div class="main_image-list">
                <div><img src="/images/main_8.png"></div>
                <div><img src="/images/main_9.png"></div>
                <div><img src="/images/main_10.png"></div>
                <div><img src="/images/main_11.png"></div>
            </div>
        </section>
        <div class="gap"></div>
        <section class="main__wrap-box-7">
            <div>
                <span>Follow us at</span>
                <span>@paintbaoxnails</span>
            </div>
        </section>
    </div>
</main>
<div class="gap"></div>
<footer class="footer">
    <div class="footer__warp">
        <ul>
            <li>
                <span>support</span>
                <ul>
                    <li><a>Faq</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>Terms and Conditions</a></li>
                    <li><a>Accessibility</a></li>
                </ul>
            </li>
            <li>
                <span>Follow us</span>
                <ul>
                    <li><a>Instagram</a></li>
                    <li><a>Pinterest</a></li>
                    <li><a>Facebook</a></li>
                    <li><a>Newsletter</a></li>
                </ul>
            </li>
            <li>
                <span>paintbox</span>
                <ul>
                    <li><a>Our studio</a></li>
                    <li><a>Careers</a></li>
                    <li><a>Press</a></li>
                    <li><a>Contact us</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>
</body>≤
</html>
