@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";


body {
    font-family: "Apple SD Gothic Neo";
    font-size: 16px;
    line-height: 100%;
    text-rendering: optimizeLegibility;
    color: #414141;
}

.hidden {
    display: none;
}

.new {
    color: gold;
}

.gap {
    height: 10px;
}
